PORT=5000
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_USER_PASSWORD=root
MYSQL_DATABASE=sirh-db
ACCESS_TOKEN_SECRET=secret-access-token
REFRESH_TOKEN_SECRET=secret-refresh-token
ACCESS_TOKEN_LIFETIME=15min
REFRESH_TOKEN_LIFETIME=1y
MINIO_BUCKET=sirhtest
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_REGION=eu-west-1
MINIO_ACCESS_KEY=iHmA43LQkS23AYmhbtRK
MINIO_SECRET_KEY=GVmxeDPREQZvNCimm03OMxvPtVpOrwEtqOyZLWol
#PC MAISON
#MINIO_ACCESS_KEY=PocckwfAMBZ8ZCfAYiom
#MINIO_SECRET_KEY=2BbG0VQNz0n3nYQJ23ptDVqyB0tdwaht1M55TAcO
